*.pyc
coverage.html/*
.coverage
dist/*
build/*
*egg-info/*
doc/auto_examples/*
examples/dot_pyinstrument.html
td3a_cpp/tutorial/*.c
td3a_cpp/tutorial/*.pyd
td3a_cpp/tutorial/*.so
td3a_cpp/tutorial/dot_cython.cpp
td3a_cpp/tutorial/dot_blas_lapack.cpp
td3a_cpp/tutorial/experiment_cython.cpp
td3a_cpp/tutorial/dot_cython_omp.cpp
td3a_cpp/tutorial/mul_cython_omp.cpp
